In [1]:
import pandas as pd

dataframes = []

# Loop through the range of years 1998-2023 and select only rows that contain tornadoes
for year in range(1999, 2024):
    df = pd.read_csv(f'../DATA/{year}.csv')
    df = df[df['EVENT_TYPE'] == 'Tornado']
    dataframes.append(df)

combined_df = pd.concat(dataframes, ignore_index=True)

combined_df.to_csv('../DATA/combined_data.csv', index=False)

combined_df.head()

c:\Users\Chris\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
c:\Users\Chris\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
C:\Users\Chris\AppData\Local\Temp\ipykernel_38016\689721727.py:7: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'../DATA/{year}.csv')

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,199901,1,2302,199901,1,2305,1500528,5681689,LOUISIANA,22.0,...,5.0,NNE,KORAN,32.48,-93.47,32.48,-93.43,NaN,"Tornado formed along a squall line notch, in t...",PDC
1,199901,1,2305,199901,1,2323,1075854,5681690,LOUISIANA,22.0,...,1.0,WNW,SIBLEY,32.50,-93.45,32.53,-93.32,NaN,Damage consisted of a 20 horse stall and build...,PDC
2,199904,26,1212,199904,26,1220,2405384,5691121,TEXAS,48.0,...,4.0,NE,NACOGDOCHES,31.62,-94.70,31.65,-94.62,NaN,North to south oriented multi-cellular squall ...,PDC
3,199907,30,1709,199907,30,1709,2411493,5715547,MINNESOTA,27.0,...,NaN,NaN,BELLE PLAINE,44.63,-93.77,44.63,-93.77,NaN,Roofs partially taken off two downtown busines...,PDC
4,199907,30,1720,199907,30,1720,2411493,5715548,MINNESOTA,27.0,...,NaN,NaN,LYDIA,44.65,-93.50,44.65,-93.50,NaN,Mostly touched down in open field near Hwy 13 ...,PDC